footer {
    background-color: rgb(55, 105, 163);
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 10px;
    color: #ffffff;
  }
  
  .footer-heading {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .footer-info {
    margin: 5px 0;
    font-size: 14px;
    color: #ffffff;
  }
  
  .footer-copyright {
    font-size: 14px;
    margin-top: 20px;
    color: #ffffff;
  }
  

  .mat-elevation-z2{

    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }